html, body {
  height: 100%;
}
#title {
  text-align: center;
  color: white;
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
#level {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  font-family: 'Tangerine', serif;
  font-size: 100px;
  text-shadow: 4px 4px 4px #aaa;
  top: 30%;
}
#mainBox {
  height: 80%;
  width: 90%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
}

.fruit {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
}

.bombs {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0px;
}
#status {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
#score, #lives{
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 10px;
  
}

#cat {
  height: 70px;
  width: 100px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -50px;
}

#cat img {
  width: 100px;
  height: 70px;
}
#scorelives { 
  float: right;
  padding-top: 10px;
}
body {
  background-color: #FFFF99;
  background-repeat: no-repeat;
  border: 3px;
  background-image: url("http://www.ninapaley.com/Sitayana/SitaJpegs/06.RainbowRoad.jpg");
  background-size: cover; 
}
